<div class="aboutUs-page__content">
    <div class="aboutUs-page__main">
        <h1 class="aboutUs-page__title">Auto Market</h1>
        <p class="aboutUs-page__subtitle">Ми займаємось вашим авто, поки ви займаєтесь своїми справами</p>
        <p class="aboutUs-page__descr">
            Компанія «Auto Market» займається купівлею, продажем та обміном автомобілів з пробігом. Ми з 2008 року на ринку і за цей час допомогли 70 тис. людям вирішити свої автомобільні питання. Це як населення невеликого міста, яке користується виключно послугами нашої компанії</p>
        <ul class="aboutUs-content__statistic-list">
            <li>
                <div class="statistic-list__item">
                    <p>5+</p>
                    <p>років на ринку</p>
                </div>
            </li>
            <li>
                <div class="statistic-list__item">
                    <p>Більше 70 000 </p>
                    <p>задоволених клієнтів</p>
                </div>
            </li>
        </ul>
        <div class="aboutUs-content__manager-know">
            <h2 class="manager-know__title">Наші менеджери знають:</h2>
            <ul class="manager-know__list">
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/engine-logo.png" alt="" width="30">
                        </div>
                        <p>Як відрізнити автомобіль із 10 тис. та 100 тис. пробігу</p>
                    </div>
                </li>
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/aerosol-logo.png" alt="" width="16">
                        </div>
                        <p>Як перевірити слова "не бита", "не крашена"</p>
                    </div>
                </li>
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/nervous-logo.png" alt="" width="28">
                        </div>
                        <p>Як продати авто без зайвих нервів</p>
                    </div>
                </li>
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/monitor-logo.png" alt="" width="30">
                        </div>
                        <p>Де розмістити оголошення, щоб його побачило якомога більше людей</p>
                    </div>
                </li>
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/photo-camera-logo.png" alt="" width="32">
                        </div>
                        <p>Який найкращий ракурс для фото у вашого авто </p>
                    </div>
                </li>
                <li>
                    <div class="manager-know__list-content">
                        <div class="manager-know__list-content-img">
                            <img src="../img/about_us/file-logo.png" alt="" width="24">
                        </div>
                        <p>Як миттєво оформити усі документи</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="aboutUs-content__buy-exchange-block">
            <h2 class="buy-exchange-block__title">Покупка та обмін</h2>
            <p class="buy-exchange-block__subtitle">Також, при покупці та обміні, наші менеджери:</p>
            <ul class="buy-exchange-block__list">
                <li>
                    <div class="buy-exchange-block__list-content">
                        <img src="../img/about_us/loupe-logo.png" alt="" width="65">
                        <p>Уважно оглядають автомобіль</p>
                    </div>
                </li>
                <li>
                    <div class="buy-exchange-block__list-content">
                        <img src="../img/about_us/doc-new-logo.png" alt="" width="50">
                        <p>Оформляють необхідні документи</p>
                    </div>
                </li>
                <li>
                    <div class="buy-exchange-block__list-content">
                        <img src="../img/about_us/cash-logo.png" alt="" width="70">
                        <p>Пропонують найкращу ціну</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="aboutUs-content__free-services">
            <blockquote>
                <p>Всі послуги абсолютно безплатні</p>
            </blockquote>
        </div>
        <p class="aboutUs-content__after-text">Після того, як ми закінчимо працювати з вашим авто, ви можете залишити машину на нашій стоянці або продовжувати на ній їздити.</p>
    </div>
    <div class="aboutUs-page__contact">
        <h2 class="aboutUs-page__contact-title">Контакти</h2>
        <div class="aboutUs-contact__block">
            <div class="contact-block__top">
                <h2 class="contact-block__top-title">Зв'яжіться з нами</h2>
                <p>Ми із задоволенням допоможемо Вам купити або продати авто</p>
                <ul class="contact-block__top-tel-list">
                    <li><b>Мобільні телефони</b></li>
                    <li>+38 (067) 787-98-89</li>
                    <li>+38 (050)787-98-89</li>
                    <li>+38 (063) 787-98-89</li>
                </ul>
            </div>
            <aside class="contact-block__form">
                <div class="contact-block__form-inner">
                    <h2>Зворотній зв'язок</h2>
                    <form action="" class="contact-form">
                        <p class="form-descr">Імя<sup>*</sup></p>
                        <div class="form-contact__item">
                            <input type="text" id="contact__user-name" class="form-control">
                            <label for="contact__user-name" class="label-error">
                                "Введіть, будь ласка, ім'я"
                            </label>
                        </div>
                        <p class="form-descr">Номер телефону<sup>*</sup></p>
                        <div class="form-contact__item">
                            <input type="text" id="contact__user-name" class="form-control">
                            <label for="contact__user-name" class="label-error">
                                "Введіть, будь ласка, номер телефону"
                            </label>
                        </div>
                        <p class="form-descr">Тема</p>
                        <div class="form-contact__item">
                            <input type="text" id="contact__user-name" class="form-control">
                        </div>
                        <p class="form-descr">Повідомлення</p>
                        <div class="form-contact__item">
                            <textarea id="contact-message"></textarea>
                        </div>
                        <input type="submit" class="btn" value="Відправити заявку">
                    </form>
                </div>
            </aside>
            <div class="contact-block__bottom">
                <h2 class="contact-block__bottom-title">Автосалони</h2>
                <p class="contact-block__bottom-subtitle">До вашого вибору будь-який із автосалонів у областях України</p>
                <ul class="contact-block__bottom-list">
                    <li>
                        <p>Київська область</p>
                        <p>Київ</p>
                        <p>Біла Церква</p>
                    </li>
                       <li>
                        <p>Львівська область</p>
                        <p>Львів</p>
                        <p>Самбір</p>
                    </li>
                       <li>
                        <p>Одеська область</p>
                        <p>Одеса</p>
                        <p>Білгород-Дністровський</p>
                    </li>
                       <li>
                        <p>Тернопільська область</p>
                        <p>Тернопіль</p>
                        <p>Зборів</p>
                    </li>
                       <li>
                        <p>Закарпатська область</p>
                        <p>Ужгород</p>
                        <p>Мукачево</p>
                    </li>
                       <li>
                        <p>Харківська область</p>
                        <p>Харків</p>
                        <p>Ізюм</p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <section class="home-map">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d693268.7141159797!2d24.261248330125504!3d49.81218498410941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add717532da69%3A0xf0cb97b8441ff1fe!2z0LLRg9C70LjRhtGPINCj0L3RltCy0LXRgNGB0LjRgtC10YLRgdGM0LrQsCwgMSwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1524052392050" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </section>
</div>
