<div class="tiresParts-page__content">
    <ul class="tiresParts-page__content-list">
        <li class="tires-content__block">
            <aside class="tires-content__info">
                <h2 class="tires-aside-info__title">Продаж автозапчастин: Б/У та Нових</h2>
                <p class="tires-aside-info__text">
                    Хороша і надійна машина та, в якій всі деталі працюють, як годинник. Допоможемо підібрати потрібні елементи для вашого авто: від свічок запалювання до карбюраторів. Нові або б/у. Доставимо в будь-яку точку України.</p>
                <ul class="tires-aside__list-tel">
                    <li>(067) 787-98-89</li>
                    <li>(050)787-98-89</li>
                    <li>(063) 787-98-89</li>
                </ul>
            </aside>
            <aside class="tires-content__banner">
                <img src="../img/sell/parts_logo.png" alt="">
            </aside>
        </li>
        <li class="parts-content__block">
            <aside class="parts-content__info">
                <h2 class="parts-aside-info__title">Продаж шин та дисків: Б/У та Нових</h2>
                <p class="parts-aside-info__text">
                    Якщо шини облисіли або дорога на літніх сильно ковзає, прийшов час їх міняти. Звертайтеся в Auto Market і ми підберемо для вас оптимальний варіант нових або б/у шин. Доставимо в будь-яку точку України.</p>
                <ul class="parts-aside__list-tel">
                    <li>(067) 787-98-89</li>
                    <li>(050)787-98-89</li>
                    <li>(063) 787-98-89</li>
                </ul>
                <aside class="parts-content__banner">
                    <img src="../img/sell/tires-logo.png" alt="">
                </aside>
            </aside>
        </li>
    </ul>

</div>
