<div class="usa-car__content" ng-controller='usaCtrl as usa'>
    <header class="usa-car__header">
        <h1 class="usa-car__title">Бажаєте якісне авто із США?</h1>
        <div class="usa-car__text">
            <p>
                Ми можемо купити його вдвічі дешевше або здійснити обмін Вашого авто на авто із США з максимальною вигодою. Станьте власником якісного авто, а на зекономлені гроші відправляйтесь у відпустку або купіть повний багажник подарунків для близьких!
            </p>
        </div>
        <div class="usa-car__header-button">
            <button class="btn" id='view-auction'>Відвідати аукціон</button>
        </div>
    </header>
    <div class="usa-car__section-compare">
        <h2 class="section-compare__title">Порівняйте на чому ви зможете<span> їздити вже завтра</span></h2>
        <ul class="section-compare__list-auto">
            <li>
                <div class="list-auto__info-img">
                    <h3>ціна в Україні</h3>
                    <p><img src="../img/usa/vw-ua.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-ua.png" alt=""></p>
                    <p>Volkswagen Jetta 2008 <br> 8 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
            <li>
                <div class="list-auto__info-img">
                    <h3>ціна в США</h3>
                    <p><img src="../img/usa/vw-usa.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-usa.png" alt=""></p>
                    <p>Volkswagen Jetta 2014 <br> 8 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
            <li>
                <div class="list-auto__info-img">
                    <p><img src="../img/usa/toyota-ua.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-ua.png" alt=""></p>
                    <p>Toyota Camry 2008 <br> 15 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
            <li>
                <div class="list-auto__info-img">

                    <p><img src="../img/usa/toyota-usa.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-usa.png" alt=""></p>
                    <p>Toyota Camry 2014 <br> 15 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
            <li>
                <div class="list-auto__info-img">

                    <p><img src="../img/usa/bmw-ua.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-ua.png" alt=""></p>
                    <p>BMW X5 2012 <br> 35 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
            <li>
                <div class="list-auto__info-img">

                    <p><img src="../img/usa/bmw-usa.png" alt=""></p>
                </div>
                <div class="list-auto__flag">
                    <p><img src="../img/usa/flag-usa.png" alt=""></p>
                    <p>BMW X5 2016 <br> 35 000 <i class="fa fa-usd"></i> </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="usa-car__section-question_1">
        <h2 class="section-question_1__title">Чому тисячі автомобілістів шукають авто із США?</h2>
        <ul class="section-question_1__list">
            <li class="border-bottom border-right">
                <div class="section-question_1__list-item">
                    <img src="../img/usa/cheaper-icon.png" alt="">
                    <p>
                        Це реально дешевше - великий вибір б/у авто від 1000$
                    </p>
                </div>
            </li>
            <li class="border-bottom">
                <div class="section-question_1__list-item">
                    <img src="../img/usa/equipment-icon.png" alt="">
                    <p>
                        Можна вибрати авто із топовою комплектацією, більшість – на автоматі
                    </p>
                </div>
            </li>
            <li class="border-bottom border-right">
                <div class="section-question_1__list-item">
                    <img src="../img/usa/transparent-icon.png" alt="">
                    <p>
                        У авто буде на 100% прозора історія, чим не можуть похвалитись європейці
                    </p>
                </div>
            </li>
            <li class="border-bottom">
                <div class="section-question_1__list-item">
                    <img src="../img/usa/mileage-icon.png" alt="">
                    <p>
                        Чесний пробіг гарантований – за скручення у США сувора кримінальна відповідальність
                    </p>
                </div>
            </li>
            <li class="border-right">
                <div class="section-question_1__list-item">
                    <img src="../img/usa/favorably-icon.png" alt="">
                    <p>
                        90% авто під 92 бензин, що вигідно для автовласників нашої країни
                    </p>
                </div>
            </li>
            <li>
                <div class="section-question_1__list-item">
                    <img src="../img/usa/good-condition-icon.png" alt="">
                    <p>
                        Відмінні американські дороги та сучасне якісне технічне обслуговування сприяють збереженню авто у хорошому стані
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="usa-car__section-auction">
        <div class="section-auction__block">
            <h3 class="section-auction__block-title">Ми пропонуємо авто на 30-50% дешевше середньостатистичної ціни в Україні</h3>
            <p>Наші клієнти не переплачують, оскільки ми підібрали найвигідніші і надійні аукціони США</p>
            <div class="section-auction__auction-list">
                <a href="https://www.copart.com/" target="_blank">
                    <span class="auction-copart"></span>
                </a>
                <a href="https://www.manheim.com/" target="_blank">
                    <span class="auction-manheim"></span>
                </a>
                <a href="https://www.iaai.com/" target="_blank">
                    <span class="auction-iaai"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="usa-car__section-question_2">
        <h2 class="section-question_2__title">Чому обмін свого авто на авто із США довіряють нам?</h2>
        <ul class="section-question_2__check-list">
            <li class="border-bottom border-right">
                <div class="section-question_2__check-list-item">
                   <i class="far fa-check-circle"></i>
                    <p>
                        Ваше авто залишається у вас до прибуття замовленного у США автомобіля і його оформлення на вас
                    </p>
                </div>
            </li>
            <li class="border-bottom">
                <div class="section-question_2__check-list-item">
                    <i class="far fa-check-circle"></i>
                    <p>
                        Ваше авто залишається у вас до прибуття замовленного у США автомобіля і його оформлення на вас
                    </p>
                </div>
            </li>
            <li class="border-right">
                <div class="section-question_2__check-list-item">
                    <i class="far fa-check-circle"></i>
                    <p>
                        Ваше авто залишається у вас до прибуття замовленного у США автомобіля і його оформлення на вас
                    </p>
                </div>
            </li>
            <li>
                <div class="section-question_2__check-list-item">
                    <i class="far fa-check-circle"></i>
                    <p>
                        Ваше авто залишається у вас до прибуття замовленного у США автомобіля і його оформлення на вас
                    </p>
                </div>
            </li>
        </ul>
        <h3 class="section_question_2__title_2">Ми вирішимо всі питання з покупкою під ключ</h3>
        <ul class="section-question_2__key-list">
            <li class="border-bottom border-right">
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;1</p>
                    <img src="../img/usa/icons/auction-icon.png" alt="">
                    <p>Забезпечимо участь в аукціонах і закриємо всі платежі</p>
                </div>
            </li>
            <li class="border-bottom">
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;2</p>
                    <img src="../img/usa/icons/customs-icon.png" alt="">
                    <p>Супроводимо розмитнення</p>
                </div>
            </li>
            <li class="border-bottom border-right">
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;3</p>
                    <img src="../img/usa/icons/document-icon.png" alt="">
                    <p>Оформимо всі документи</p>
                </div>
            </li>
            <li class="border-bottom">
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;4</p>
                    <img src="../img/usa/icons/certificate-icon.png" alt="">
                    <p>Допоможемо зробити сертифікацію на Євро5</p>
                </div>
            </li>
            <li class="border-right">
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;5</p>
                    <img src="../img/usa/icons/spares-icon.png" alt="">
                    <p>Організуємо ремонт авто і замовлення запчастин</p>
                </div>
            </li>
            <li>
                <div class="section-question_2__key-list-item">
                    <p class="key-list-item__big_digit">&nbsp;6</p>
                    <img src="../img/usa/icons/map-icon.png" alt="">
                    <p>Доставимо авто із США до Одеси</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="usa-car__section-orange-area">
        <div class="section-orange-area__block">
            <h3 class="section-orange-area__block-title">Важливе запитання</h3>
            <p> Часто запитують – навіщо купляти биті авто із США?</p>
            <p>Відповідь проста: Автомобілі вибираються лише з незначними пошколденнями. Їх ремонт в Україні вартує не дорого. В результаті ви отримаєте майже новий автомобіль.</p>
        </div>
    </div>
    <div class="usa-car__section-another-things">
        <h3 class="section-another-things__title">Допоможемо купити в США не лише авто</h3>
        <h4>Купимо і доставимо: </h4>
        <ul class="section-another-things__list">
            <li>
                <div class="section-another-things__list-item">
                    <img src="../img/usa/icons/boat-icon.png" alt="">
                    <p>Лодки</p>
                </div>
            </li>
               <li>
                <div class="section-another-things__list-item">
                    <img src="../img/usa/icons/motorcycle-icon.png" alt="">
                    <p>Мотоцикли</p>
                </div>
            </li>
               <li>
                <div class="section-another-things__list-item">
                    <img src="../img/usa/icons/commercial-transport-icon.png" alt="">
                    <p>Спецтехніку</p>
                </div>
            </li><li>
                <div class="section-another-things__list-item">
                    <img src="../img/usa/icons/details-icon.png" alt="">
                    <p>Будь-які запчастини</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="usa-car__section-fixed">
        <div class="section-fixed__block">
            <h3 class="section-fixed__block-title">З нами вигідно та безпечно</h3>
            <ul class="section-fixed__block-list">
                <li class="border-bottom-red border-right-red">
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/payment-icon.png" alt="">
                        <p>Гарантуємо прозорість оплат</p>
                    </div>
                </li>
                   <li class="border-bottom-red">
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/delivery-icon.png" alt="">
                        <p>Швидка доставка по світу</p>
                    </div>
                </li>
                   <li class="border-bottom-red border-right-red">
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/insurance-icon.png" alt="">
                        <p>Страхуємо всі угоди</p>
                    </div>
                </li>
                   <li class="border-bottom-red">
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/photo-icon.png" alt="">
                        <p>Детальні фото та відеозвіти по авто</p>
                    </div>
                </li>
                   <li class="border-right-red">
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/parking-icon.png" alt="">
                        <p>Безкоштовна стоянка до 1 місяця в США</p>
                    </div>
                </li>
                   <li>
                    <div class="section-fixed__block-list-item">
                        <img src="../img/usa/icons/camera-icon.png" alt="">
                        <p>Збереженість авто - ваша машина буде знаходитись на стоянках з охороною</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>
